@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
* {
    padding: 0%;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.container {
    height: 100vh;
    width: 100%;
    background-image: url("head2.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    position: relative;
    overflow: hidden;
}

.container .logo{
    width: 1%;
    background-size: 1% 1% 1% 1%;
    padding: 30px;
}
nav {
    width: 90%;
    margin-left: 60%;
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: right;
}
nav ul {
    display: flex;
    list-style-type: none;
}
nav ul li{
    margin:0 5px;
    text-align: right;
}
nav ul a{
    text-decoration: none;
    padding: 0.3rem 1.3rem;
    font-size: 17px;
    font-weight: bold;
    color: #FFFFFF;
    position: relative;
    z-index: 1;
}
nav ul a::after{
    content: "";
    width: 0%;
    height: 100%;
    position: absolute;
    top:0;
    left:0px;
    border-radius: 20px;
    background-color: #E39FF6 ;
    z-index: -1;
    transition: 0.5s;
}
nav ul a:hover:after{
    width: 100%;
}

.button{background-color: #008CBA;}
.main-content {
    width: 60%;
    padding-top: 10px;
    margin-left: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.main-text{
    flex-basis: 80%;
    padding-top: 100px;
    padding-left: 50px;
}
.main-content h1 {
    font-size: 70px;
    letter-spacing: 1px;
    color: #FFFFFF;
}
.main-content p{
    margin-top: 10px;
    font-size: 15px;
    letter-spacing: 1px;
}
.main-content button{
    margin-top: 2.5rem;
    outline: none;
    border: none;
    font-size: 18px;
    padding: 0.5rem 2.5rem 0.5rem 1rem;
    border-radius: 0 50% 50% 0;
    background-color: #494234;
    color: white;
    cursor: pointer;
}
.right{
    position: absolute;
    width: 20%
    right: 8%;
    bottom: 20%;
}
.box{
    display: flex;
    align-items: center;
}
.right .box .image img{
    margin-top: 2rem;
    margin-left: 100%;
    
}
.image{
    width: 60%;
    height:70%;
    align-items: right;
}
.image:hover{
    background-color: rgba(46, 38, 22, 0.7);
}
.box .inner-box{
    margin: 1.5rem 0 0 1rem;
}
.box .inner-box p{
    font-size: 14px;
    font-weight: 500;
}
.social-links{
    position: absolute;
    right: 45%;
    bottom: 5%;
}
.social-links i{
    margin-left: 5px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #E39FF6;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
}
.social-links i:hover{
    transform: translateY(-5px);
}